# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=""

# The database driver that will be used ('mysql' or 'pgsql')
DB_DRIVER="mysql"

# The database server name or IP address (usually this is 'localhost' or '127.0.0.1')
DB_SERVER="127.0.0.1"

# The database username to connect with
DB_USER="root"

# The database password to connect with
DB_PASSWORD="root"

# The name of the database to select
DB_DATABASE="craft-starter.test"

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

# The port to connect to the database with. Will default to 5432 for PostgreSQL and 3306 for MySQL.
DB_PORT="3306"

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT="25"
MAIL_USER="5a2b54f40aa871"
MAIL_PASS="e6cfe70dc4b2f3"

#MAIL_HOST="smtp.mailgun.org"
#MAIL_PORT="25"
#MAIL_USER=""
#MAIL_PASS=""

# If using AWS use these variables when creating asset volumes
ASSET_VOLUME_BASE_URL=""
S3_ACCESS_KEY_ID=""
S3_ACCESS_SECRET=""
CLOUDFRONT_DISTRIBUTION_ID=""
