<div class="c-at-glance">
	<div class="container mx-auto">
		<h2>At a glance</h2>
		<div class="c-at-glance__content">
			<div class="c-at-glance__card">
				<p>3 luxury bedrooms</p>
				<div class="c-at-glance__card--image"></div>
			</div>

			<div class="c-at-glance__card">
				<p>AMPLE LIVING AREAS</p>
				<div class="c-at-glance__card--image"></div>
			</div>

			<div class="c-at-glance__card">
				<p>GUESTHOUSE (sleeps 2)</p>
				<div class="c-at-glance__card--image"></div>
			</div>

			<div class="c-at-glance__card">
				<p>BBQ AREA</p>
				<div class="c-at-glance__card--image"></div>
			</div>

			<div class="c-at-glance__card">
				<p>POOLSIDE</p>
				<div class="c-at-glance__card--image"></div>
			</div>

			<div class="c-at-glance__card">
				<p>GROUNDS</p>
				<div class="c-at-glance__card--image"></div>
			</div>
		</div>

		<div class="flex">
			<div class="w-1/2 mx-auto">
				<h3>
					This private hillside retreat, 800m outside of Kato Drys village, is for those who want modern luxury with soul. A place to sit back and relax in complete serenity, whilst having the quaint village and surrounding nature to explore. With approximately 35 minutes driving time to main cities of Nicosia, Larnaca, Limassol and 50 mins to crystal clear beaches of Protaras & Ayia Napa, you’re never far from the pulse if you need it.
				</h3>
			</div>
		</div>
	</div>
</div>
