<div class="c-book-stay">
	<div class="container mx-auto">
		<div class="grid grid-cols-12 gap-9">
			<div class="col-start-4 col-span-6">
				<h3>
					On the idyllic Mediterranean island of Cyprus, Kaminia Residence is nestled in the hills of the authentic mountain village of Kato Drys. Immersed in complete privacy, here you can escape to pure tranquility, luxurious comfort and style.
				</h3>
				<button class="c-book-stay__button">Book Your Stay</button>
			</div>
		</div>
	</div>
</div>
