<div class="c-further-beyond">
	<div class="container mx-auto">
		<h2>Just a handful of what’s further beyond</h2>

		<div class="c-further-beyond__content">
			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">LARNACA</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">This relaxed seaside city boasts a quaint town centre and beautiful beaches such as Mckenzy along with its popular beach bars.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">LIMASSOL</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">A coastal city with a busy pulse which blends traditional culture with some of the most modern architecture on the island.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">NICOSIA</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">The intriguing and only divided capital city in the world is a recommended day trip to explore its fascinating history.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">PROTARAS & AYIA NAPA</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">The crystal clear waters, pale sands, nature trails and nightlife of the Famagusta region make for a holidayer’s paradise.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">TROODOS</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">Snowy during the winter, the Troodos mountains have fabulous hiking trails and are the perfect escapism to hot summers.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">KOURION</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">Incredible archaelogical remains dating back to the Roman / Early Byzantine eras.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">PAFOS</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">Beaches, archaelogical sites, stunning scenery, the birthplace of Aphrodite, Pafos never dispoints.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-further-beyond__card">
				<p class="c-further-beyond__card--title">POLIS</p>
				<div class="c-further-beyond__card--image"></div>
				<p class="text-sm">A traditional part of North Western Cyprus, Polis is perfect for nature buffs with its range of trails, and water sport activities.</p>
				<span>View on google maps</span>
			</div>
		</div>
	</div>
</div>
