<div class="c-homepage-header">
	<div class="c-homepage-header__banner" style="background-image: url({{ bannerImage.one().getUrl() }});">


		<div class="c-homepage-header__text">
			<div class="container mx-auto">
				<div class="grid grid-cols-12 gap-9">
					<div class="col-start-1 col-span-5">
						<h1 class="text-white">{{ bannerTitle }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
