<div class="c-key-features">
	<div class="container mx-auto">
		<h2>Key features</h2>

		<div class="c-key-features__content">
			<div class="c-key-features__card">
				<ul>
					<li>Sleeps 8<br/>
						(main house sleeps 6, and guesthouse sleeps 2, all with ensuite wetrooms)</li>
					<li>Free WIFI</li>
					<li>Air conditioning and underfloor heating</li>
					<li>Elevator (main house)</li>
					<li>Electric gated entry</li>
					<li>Ample parking available</li>
					<li>Powered by PV</li>
				</ul>
			</div>

			<div class="c-key-features__card">
				<ul>
					<li>Fully fitted kitted kitchen with rangemaster cooker, dishwasher, wine cooler, breakfast table and island</li>
					<li>Utility room with washing machine and dryer</li>
					<li>Lounge with dining table and corner bar, Flat screen TV with Sky and Netflix</li>
					<li>Downstairs guest toilet</li>
				</ul>
			</div>

			<div class="c-key-features__card">
				<ul>
					<li>Bespoke swimming pool with waterfall and spa pool</li>
					<li>Poolhouse changing room with shower, 2 WC and mirrored vanity units</li>
					<li>Outdoor shower</li>
					<li>BBQ Pavillion with bespoke stainless steel motorized electric barbecue, large fridge freezer, oven and hob. Covered seating dining area with ceiling fan</li>
					<li>Immaculately maintained gardens and patio areas for sunbeds and parasols</li>
				</ul>
			</div>
		</div>

		<div class="c-key-features__hamper">
			<ul class="list-disc">
				<li>Welcome hamper</li>
				<li>Daily maids service 7am - 10am (except Sunday)</li>
				<li>Linen change twice weekly</li>
				<li>Pool and garden maintenance</li>
			</ul>
		</div>

	</div>
</div>
