<div class="c-ready-relax">
	<div class="c-ready-relax__content" style="background-image: url({{ backgroundImage.one().getUrl() }});">
		<div class="relative flex flex-col items-center">
			<h1 class="text-white">Ready to relax?</h1>
			<button class="c-ready-relax__button">Book Your Stay</button>
		</div>
	</div>
</div>
