<footer>
	<div class="c-site-footer">
		<div class="container mx-auto">
			<div class="grid grid-cols-12 gap-9">
				<div class="col-start-5 col-span-4">
					<h2>Contact Us</h2>
					<h3>Kato Drys 7714, Larnaca, Cyprus</h3>
					<div class="contact-email">
						<a href="mailto:contact@kaminiaresidence.com">contact@kaminiaresidence.com</a>
					</div>

					<a href="/" class="c-site-footer__logo">
						<p class="font-bold text-lg">Kaminia Residence</p>
						<span class="text-sm uppercase">HillSide Luxury, Cyprus</span>
					</a>

					<div class="contact-number">
						<a href="tel:+35799999999" class="contact-number">+357 99 9999 99</a>
					</div>

					<ul class="copyright">
						<li>© 2020 Kaminia Residence</li>
						<li>All Rights Reserved</li>
						<li>Privacy Policy</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
