<header>
	<div class="c-site-header">
		<nav class="bg-white py-4">
			<div class="container mx-auto">
				<div class="c-site-header__menu--wrapper">
					<div class="c-site-header__menu">
						<div class="menu-item nav-item">
							<a class="nav-link" href="#">The Residence</a>
						</div>
						<div class="menu-item nav-item">
							<a class="nav-link" href="#">The Location</a>
						</div>
					</div>

					<a href="/" class="c-site-header__logo">
						<p class="font-bold text-xl">Kaminia Residence</p>
						<span class="text-sm uppercase">HillSide Luxury, Cyprus</span>
					</a>

					<div class="c-site-header__menu">
						<div class="menu-item nav-item">
							<a class="nav-link" href="#">Contact Us</a>
						</div>
						<div class="menu-item nav-item">
							<a class="nav-link" href="#">Book Your Stay</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
