<div class="c-what-nearby">
	<div class="container mx-auto">
		<h2>What’s nearby?</h2>

		<div class="c-what-nearby__content">
			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">PLATANOS RESTAURANT</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">Main village restaurant 3 minute drive away, seated under old plane tree with traditional Cypriot dishes.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">JARS</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">A very quaint brunch place in the Kato Drys village — please book in advance.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">BEE MUSEUM</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">The Bee Museum in Kato Drys village is dedicated to olden-day village life and traditional industries and pastimes.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">AYIOS MINAS</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">The peaceful Ayios Minas dates back to the 15th century. Nuns prepare homemade preserves which can be purchased there.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">LEFKARA</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">A very popular and picturesque  village to visit is known for its Cypriot folk needlecraft art with lace.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">CHIROKITIA</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">This neolithic settlement is one of the most important prehistoric sites in the eastern Mediterranean.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">MAHAIRAS</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">The monastery of Machairas, dedicated to the Virgin Mary, is a very important monastery in the Greek Orthodox religion.</p>
				<span>View on google maps</span>
			</div>

			<div class="c-what-nearby__card">
				<p class="c-what-nearby__card--title">GOVERNOR’S BEACH</p>
				<div class="c-what-nearby__card--image"></div>
				<p class="text-sm">This sandy beach area with chalky white rocks has an array of delicious fresh fish restaurants.</p>
				<span>View on google maps</span>
			</div>
		</div>
	</div>
</div>
